[Unit]
Description=Git Auto Sync Script
After=network.target

[Service]
ExecStart=/bin/bash /root/jk.sh
WorkingDirectory=/root
User=root
Restart=always

[Install]
WantedBy=multi-user.target