[Unit]
Description=Run Git Auto Sync Script every 6 hours

[Timer]
OnBootSec=10min
OnUnitActiveSec=6h
Unit=jk.service

[Install]
WantedBy=timers.target